* {
    margin: 0px;
    padding: 0px;
}

.container_width {
    width: 100%;
}

.left_bg_color {
    background-color: #f5f5f5;
}

.left_section {
    flex-wrap: wrap;
    padding: 0 30px;
}

.left_section_heading h2 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin: 46px 0 24px;
}

.left_section .form-check-label {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
}

.left_section .form-check-label .form-check-input {
    position: absolute;
    margin-top: 0rem;
    width: 20px;
    height: 25px;
    left: 16px;
}
.left_section .form-check{
    margin-top:10px;
}
.container_width .row{
    margin:0px;
}
.left_section .left_label_text label{
    font-size: .8125rem;
    line-height: 1.5384615384615385;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 0px;
}
.left_section .left_label_text select{
    font-family: Gotham,system-ui,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    /* min-width: 13.75rem; */
    padding: .5rem calc(1em + 1rem) .5rem 1rem;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    font-weight: 600;
    color: #000;
    min-height: 44px;
    background-color: #fff;
    border: 1px solid #8b8c8f;
    border-radius: .125rem;
    outline: none;
}
.left_section .left_label_text select option{
    color: #000000;
    font-weight:600;
}
.left_section .left_label_text select:focus{
    outline: none;
    box-shadow: none;
}

/* right section css */
.right_section{
    padding: 35px 30px 0px 35px;
}
.right_section .top_heading h1{
    font-size: 2.25rem;
    line-height: 1.1666666666666667;
    font-weight: 700;
}
.right_section .top_heading h6{
    font-size:18px;
    font-weight: 500;
    line-height: 1.2;
}
.fixed_loan_heading h4{
    font-size: 1.5rem;
    line-height: 1.3333333333333333;
    font-weight: 700;
}
.fixed_loan_heading{
    margin:30px 0px;
}
.fixed_loan_heading a p{
    text-transform: uppercase;
    letter-spacing: .0625em;
    line-height: 1.5384615384615385;
    font-size: .8125rem;
    font-weight: 600;
    color:#005fb9;
}
.advertiser-disclosure{
    text-align: end;
}
.advertiser-disclosure .btn-default{
    border:none;
    display: inline;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    color: #005fb9!important;
    background-color: transparent;
}
.advertiser-disclosure .btn-default:hover{
    text-decoration: underline;
}
.btn-default:focus{
    outline:none;
    box-shadow: none;
}
.right_section .sort_by{
    text-align: end;
    margin-bottom: 20px;
}
.right_section .sort_by label{
    font-weight:600;
}
.right_section .sort_by select{
    font-family: Gotham,system-ui,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: .5rem calc(1em + 1rem) .5rem 1rem;
    font-weight: 600;
    color: #000;
    min-height: 44px;
    background-color: #fff;
    border: 1px solid #8b8c8f;
    border-radius: .125rem;
    outline: none;
}
.right_section .sort_by select option{
    color: #000000;
    font-weight:600;
}
.right_section .sort_by select:focus{
    outline: none;
    box-shadow: none;
}
.right_sec_top_box{
    border: 1px solid #d8d9da;
    border-radius: .125rem;
    margin-bottom: 1.75rem;
    overflow: hidden;
    cursor: pointer;
}
.half_top_sec_logo img{
    object-fit: contain;
    max-width: 120px;
    max-height: 48px;
}
.half_top_sec{
    position:relative;
    padding: 1rem 2rem;
}
.right_sec_btn{
    background-color: #008255;
    padding: 14px 20px;
    border-radius: 2px;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .0625em;
    margin: auto;
}
.button_div{
    position: absolute;
    top: 25%;
    right: 30px;
    text-align: center;
}
.button_div p{
    line-height: 1.5384615384615385;
    font-size: .8125rem;
    font-weight: 600;
    color: #64666a;
}
.right_sec_btn:hover{
    color:#fff;
    opacity:0.7;
}
.half_top_sec_logo p{
    font-size: .8125rem;
    line-height: 1.5384615384615385;
    color: #64666a;
    font-weight: 600;
}
.right_sec_bottom_box{
    background-color:#f5f5f5;
    padding: 18px;
}
.right_sec_bottom_box .intrest_rate p{
    line-height: 1.5384615384615385;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: auto;
}
.right_sec_bottom_box .intrest_rate h5{
    font-size: 1.5rem;
    line-height: 1.3333333333333333;
    font-weight: 700;
}
.right_section .about_rate{
    color: #8b8c8f;
    font-size: 12px;
    line-height: 16px;
}
.mortgage_rate h2{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.3333333333333333;
}
.mortgage_rate_insight h5{
    background: url(../images/Documents.svg) no-repeat 0;
    padding: 12px 0 12px 50px;
    border-bottom: 1px solid;
    border-color: #d8d9da;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.3333333333333333;
}
.fixed_year{
    text-align: center;
}
.fixed_year h4{
    font-size: 2.25rem;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 0px;
}
.fixed_year_text{
    margin: 20px 0;
    padding: 0 30px;
    position: relative;
    line-height: 1.5384615384615385;
    font-size: 13px;
    font-weight: 500;
}
.fixed_year_text:before {
    font-family: 'FontAwesome';
    position: absolute;
    content: "\201C";
    left: 0;
    top: 0;
}
.fixed_year_text:after {
    font-family: 'FontAwesome';
    content: "\201D";
    height: 0;
    overflow: visible;
    display: inline-block;
    vertical-align: top;
}

.fixed_year_text:after, .fixed_year_text:before {
    opacity: .31;
    font-size: 50px;
    line-height: 1;
}
.mortgage_rate{
    padding-bottom:2rem;
}
.mortgage_rate p{
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5384615384615385;
    color: #64666a;
}
.mortgage_rate table{
    width: 564px;
    border-collapse: collapse;
}
.mortgage_rate table tr th{
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-right: .25rem;
    vertical-align: top;
    font-size: 1.2rem;
    min-width: 80px;
    font-weight: 700;
    border-top: none;
    border-bottom: 1px solid #8b8c8f;
}
.mortgage_rate table tr td{
    border-bottom: 1px solid #d8d9da;
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-right: .25rem;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 500;
}

/* faq css */
.faq{
    padding-bottom:2rem;
}
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}
.faq .card{
    border:none;
}
.faq .card-header{
    cursor: pointer;
    border-top: 1px solid #d8d9da;
    background: transparent;
}
.faq .card-header:last-child{
    border-bottom: 1px solid #d8d9da;
}
.accordion>.card {
    overflow: visible;
}
.faq .card-body p{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    padding: 0rem 1.75rem 0rem 1rem;
}
.faq .card-header:hover{
    background-color: #eef7ff;
    outline-color: #4b99e6;
    outline-style: solid;
    outline-width: 2px;
}
.faq .card-header .card-title{
    background: none;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 1.75rem 1rem 1rem;
    position: relative;
    margin: 0;
    color: #000;
}
.mortgage_rate_averages{
    padding-bottom:2rem;
}
.mortgage_rate_averages h2{
    margin-bottom: .5rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.3333333333333333;
}
.mortgage_rate_averages p{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500; 
}
.mortgage_rate_averages a{
    text-transform: uppercase;
    letter-spacing: .0625em;
    line-height: 1.5384615384615385;
    font-size: .8125rem;
    font-weight: 600;
    color: #005fb9;
}
.tools{
    background-color: #fff;
    color: #b1b3b5;
    border: 1px solid #d8d9da;
    text-align:center;
    margin-top: 20px;
}
.tools:hover{
    background-color: #f5f5f5;
}
.tools h6{
    padding: 0 10px;
    border-bottom: 1px solid #d8d9da;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .2em;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
}
.tools .main_center{
    height: 139px;
    padding: 20px 10px;
    overflow: hidden;
}
.tools .main_center img{
    display: block;
    margin: 0 auto 10px;
    width: 23%;
}
.tools .main_center h3{
    color: #005fb9;
    line-height: 1.142;
    font-weight: 700;
    font-size: 18px;
}
.tools p{
    padding: 8px 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #d8d9da;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    margin: 0px;
}
.intrest_rate{
    position:relative;
}
.loan_type_link{
    padding-bottom:2rem;
}
.loan_type_link h3{
    margin-bottom: .5rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.3333333333333333;
}
.loan_type_list ul li{
    display:inline-block;
}
.loan_type_list ul li a{
    line-height: 1.5384615384615385;
    font-size: 14px;
    font-weight: 500;
    color: #005fb9;
}
/* =================================== Loader image ==================================== */
.bars_logo {
    display: block;
    position: absolute;
    top: 0%;
    left: 7%;
    height: 50px;
    width: 50px;
    margin: -16px 0 0 -57px;
  }
  
  .bars_logo span {
    display: block;
    bottom: 10px;
    width: 9px;
    height: 15px;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    -webkit-animation: bars_logo 2s  infinite ease-in-out;
            animation: bars_logo 2s  infinite ease-in-out;
  }
  
  .bars_logo span:nth-child(2) {
    left: 11px;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  
  .bars_logo span:nth-child(3) {
    left: 22px;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  
  .bars_logo span:nth-child(4) {
    left: 33px;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  
  .bars_logo span:nth-child(5) {
    left: 44px;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  @keyframes bars_logo {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      background: rgba(0, 0, 0, 0.25);
    }
    25% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      background: #000000;
    }
    50% {
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
      background: rgba(0, 0, 0, 0.25);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      background: rgba(0, 0, 0, 0.25);
    }
  }
  @-webkit-keyframes bars_logo {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      background: rgba(0, 0, 0, 0.25);
    }
    25% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      background: #000000;
    }
    50% {
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
      background: rgba(0, 0, 0, 0.25);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      background: rgba(0, 0, 0, 0.25);
    }
  }

  /* ---------------------p Loader----------------------------- */
  .bars_p {
    display: block;
    /* position: absolute;
    top: 0%;
    left: 10%; */
    height: 50px;
    width: 50px;
    margin: -16px 0 0 -57px;
  }
  
  .bars_p span {
    display: block;
    bottom: 10px;
    width: 9px;
    height: 15px;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    -webkit-animation: bars_p 2s  infinite ease-in-out;
            animation: bars_p 2s  infinite ease-in-out;
  }
  .bars_p span:nth-child(2) {
    left: 11px;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  
  .bars_p span:nth-child(3) {
    left: 22px;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  
  .bars_p span:nth-child(4) {
    left: 33px;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  
  .bars_p span:nth-child(5) {
    left: 44px;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  @keyframes bars_p {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      background: rgba(0, 0, 0, 0.25);
    }
    25% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      background: #000000;
    }
    50% {
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
      background: rgba(0, 0, 0, 0.25);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      background: rgba(0, 0, 0, 0.25);
    }
  }
  @-webkit-keyframes bars_p {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      background: rgba(0, 0, 0, 0.25);
    }
    25% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      background: #000000;
    }
    50% {
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
      background: rgba(0, 0, 0, 0.25);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      background: rgba(0, 0, 0, 0.25);
    }
  }

/**======================================== Loader Date css ==============================================*/

.bars4 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -16px 0 0 -57px;
}

.bars4 span {
  display: block;
  bottom: 10px;
  width: 9px;
  height: 15px;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  -webkit-animation: bars4 2s  infinite ease-in-out;
          animation: bars4 2s  infinite ease-in-out;
}

.bars4 span:nth-child(2) {
  left: 11px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.bars4 span:nth-child(3) {
  left: 22px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.bars4 span:nth-child(4) {
  left: 33px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.bars4 span:nth-child(5) {
  left: 44px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@keyframes bars4 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background: rgba(0, 0, 0, 0.25);
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background: #000000;
  }
  50% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background: rgba(0, 0, 0, 0.25);
  }
}
@-webkit-keyframes bars4 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background: rgba(0, 0, 0, 0.25);
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background: #000000;
  }
  50% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background: rgba(0, 0, 0, 0.25);
  }
}
/** END of Loader css */
.popover-body{
    -webkit-box-shadow: 0 4px 8px 0 rgba(100,102,106,.15), 0 8px 16px 0 rgba(100,102,106,.33);
    box-shadow: 0 4px 8px 0 rgba(100,102,106,.15), 0 8px 16px 0 rgba(100,102,106,.33);
}